$primary-light-red: hsl(0, 36%, 70%);
$primary-red: hsl(0, 93%, 68%);

$neutral: hsl(0, 6%, 24%);

// ### Gradients

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

$btn-light-red: hsl(0, 80%, 86%);
$btn-red: hsl(0, 74%, 74%);

$btn-white: hsl(0, 0%, 100%);
$btn-less-white: hsl(0, 100%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: $neutral;
  height: 100vh;
  overflow: hidden;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.logo-wrapper {
  padding: 2rem;
  text-align: left;
}

.image-wrapper {
  width: 100%;
}

.main-image {
  height: auto;
  max-width: 100%;
}

.details {
  padding: 3rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1 1 auto;
}

.heading {
  box-decoration-break: clone;
  text-transform: uppercase;
  letter-spacing: 0.75rem;

  span {
    display: block;
  }

  &--pink {
    color: $primary-light-red;
    font-weight: 300;
  }
}

.description {
  color: $btn-red;
  line-height: 1.5rem;
}

form {
  position: relative;

  .form-control {
    border: 1.25px solid $primary-light-red;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    width: 100%;
    transition: all 0.2s;
    color: $neutral;
    font-weight: 600;

    &::placeholder {
      color: $primary-light-red;
    }

    &:focus {
      border: 1.5px solid $primary-light-red;

      &:invalid {
        border: 1.5px solid $primary-red;
      }
    }
  }

  button[type='submit'] {
    border: none;
    background-color: transparent;
    background-image: linear-gradient(135deg, $btn-light-red, $btn-red);
    border-radius: 1.75rem;
    padding: 0.8rem 2rem;
    position: absolute;
    right: 0;
    transition: all 0.2s;

    &:hover,
    &:active {
      background-image: linear-gradient(135deg, $btn-less-white, $btn-red);
      transform: scale(1.2);
      box-shadow: 0px 1rem 1rem rgba($color: $btn-red, $alpha: 0.5);
    }
  }
}
