$primary-light-red: hsl(0, 36%, 70%);
$primary-red: hsl(0, 93%, 68%);

$neutral: hsl(0, 6%, 24%);

// ### Gradients

// - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

$btn-light-right: hsl(0, 80%, 86%);
$btn-red: hsl(0, 74%, 74%);

$btn-white: hsl(0, 0%, 100%);
$btn-less-white: hsl(0, 100%, 98%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: $neutral;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.logo-wrapper {
  padding: 2rem;
  text-align: left;
}

.main-image {
  height: auto;
  min-width: 100%;
}

.details {
  padding: 3rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1 1 auto;
}

.heading {
  box-decoration-break: clone;
  text-transform: uppercase;
  letter-spacing: 0.75rem;

  span {
    display: block;
  }

  &--pink {
    color: $primary-light-red;
    font-weight: 300;
  }
}

.description {
  color: $btn-red;
  line-height: 1.5rem;
}
